@use '../../assets//styles/theme';

.projects{

    h1{
        margin: 2rem 0;
    }

    .card-container{
        display: flex;
        flex-flow: column;
    }
}

@media screen and (max-width: 47.5em){
    .projects{
        padding-bottom: 8rem;

        h1{
            margin: 1rem 0 0;
        }

        p{
            font-size: 1rem;
        }
    }
}